@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');

body
{
    overflow-x:hidden;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffffff;

}

.navbar
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .95) !important;
}
.foto
{
    width: 7%;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(40, 148, 40);
    border-radius: 50%;
    position: absolute;
    top: 1vh;
    left: 5vh;
}
#Skills
{
    background-color: rgb(78, 151, 78);
}


/* .masonry
{
    column-count: 3;
    column-gap: 9em;
}

.item 
{ 
    display: inline-block;
    margin: 0em 0em 1em;
    width: 100%;
} */
/* header
{
    background-color: rgb(58, 114, 58);
    font-family: 'Yanone Kaffeesatz', sans-serif;
 

    z-index: 1000;
}

body
{
    background-color: rgb(78, 151, 78);
}




.container
{
    margin: auto;
    justify-content: space-between;

}




header .row
{
    justify-content: space-between;
    align-items: baseline;
    
}


header .navbar ul li
{
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 70px;
}

header .navbar ul li a
{
 font-size: 25px;
 text-decoration:none;
 color: #ffffff;
 font-weight: bold;
}


.row
{
    display: flex;
    flex-wrap: wrap;
    height: 82px;
}

.row > .About
{
    padding-top: 90px;
}

.navbar
{
    position: absolute;
    right:9vh;
    top: -2vh;
}
 
.About, .Art, .IT, .Contacts
{
    text-decoration: none;
    color: #ffffff;
}









#Skills
{
    margin-top: 100px;
}

.aptidoes
{
    
  width:30%;
  position: relative;
  right: -90vh;
  border-radius: 50%;
    
}
 */
