@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');

body
{
    overflow-x:hidden !important;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    position: relative !important;
    font-size: 1.5rem !important;
 
}

#about, #art, #it, #contact
{
    font-size: 122px;
    font-weight: 800;
    letter-spacing: 1rem;
    text-transform: uppercase;

}
.navbar
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .9) !important;
}

#about, #it
{
    text-shadow: 0 0 6px #1d1c1c;

}

#art, #contact
{
    color: rgb(40, 148, 40);
    text-shadow: 0 0 6px rgb(65, 187, 65);
   
}

.foto
{
    background: url("public/images/eu.JPG") no-repeat;
    background-size: cover;
    width:150px;
    height: 150px;
    
    border-style: solid;
    border-width: 4px;
    border-color: rgb(40, 148, 40);
    border-radius: 50%;
    position: absolute;
    top: 1vh;
    left: 5vh;
}

.foto:hover
{
    background: url("public/images/euhulk.jpg") no-repeat;
    background-size: cover;
   
}
#Skills
{
    background-color: rgb(78, 151, 78);
    padding-top: 170px;

}

#prog
{
    background-color: rgb(78, 151, 78);
}

.item 
{
    border: 20px !important;

    border-color: rgba(78, 151, 78, .6) !important;
}

.aptidoes
{
    background: url("public/images/Aptidões.jpg");
    background-size: cover;
    width: 500px;
    height:500px;
    border-radius: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
};

.subtitle
{
    font-size: large;
}











 
